
body{
    background-color:#ECF0EC;
    font-family:sans-serif;
}

[form="widget"]{
    border:thick solid black;
    background-color:#E3E4FA;
    padding: 10px;
    display:inline;
    float:left;
    font-size:12px;
    margin: 5px;
}

div.ledger_widget{
    clear: left;
}

div.ledger_fields{
    width:1200px;
    height:550px;
    overflow:auto;
}

div.ledger_entry_1{
    float:left;
}

div.ledger_entry_2{
    background-color:#FFEFDE;
    float:left;
}

input[field="ledger_date"]{
    width:80px;
    border-style:none;
    background-color:inherit;
    border-right:medium solid white;
    margin-right:5px;
    display:block;
    float:left;
    height:25px;
    padding:5px;
}

input[field="ledger_serial"]{
    width:35px;
    border-style:none;
    background-color:inherit;
    border-right:medium solid white;
    display:block;
    float:left;
    height:25px;
    padding:5px;
}

input[field="ledger_amount"]{
    width:75px;
    border-style:none;
    background-color:inherit;
    border-right:medium solid white;
    padding-right:5px;
    display:block;
    float:left;
    height:25px;
    text-align:right;
    padding:5px;
}

span[field="balance_gr"]{
    width:75px;
    border-right:medium solid white;
    margin-right:5px;
    padding-right:5px;
    display:block;
    float:left;
    height:15px;
    text-align:right;
    padding:5px;
    background-color:#C3FDB8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha opacity=50)";
    filter:alpha(opacity=50);
    opacity:0.5;
}

span[field="balance_rd"]{
    width:75px;
    border-right:medium solid white;
    margin-right:5px;
    padding-right:5px;
    display:block;
    float:left;
    height:15px;
    text-align:right;
    padding:5px;
    background-color:#FAAFBA;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha opacity=50)";
    filter:alpha(opacity=50);
    opacity:0.5;
}

input[field="ledger_com"]{
    display:block;
    border-style:none;
    background-color:inherit;
    float:right;
    width:800px;
    padding:5px;
    height:25px;
    overflow:hidden;

}
